@CHARSET "ISO-8859-1";
 #divPrinc{
margin-bottom:10px; position:relative;

}
#imgPrinc{
 width:100%; height:10%;
}
#divscudo{
	position:absoilute;top:0; left:0;right:0;
}
#imgscudo{
	border="0";
	width:10%; height:10%;
}