@CHARSET "UTF-8";

#imcentral{
	
}
#botones{
	border-color: #ff8040;
}
#derecha{
	 width: 160px; 
    background-color: #999999; 
    float:left; 
	border: 5px;

}
#centro{
	border: 5px;
	border-color: #80ffff;
}
#isquierda{
	border: 5px;
	border-color: #0080ff;
}