@CHARSET "UTF-8";

#tur0{
	width: 100%; height: 100%
	
}
#boton{
	border-color: red;
	margin: 0.7px;
	background-color: #yellew;
	
	
}
#secion1{

 margin: 0.7px;
 border-color: blue;
 width:75px;
 float:left;
 height: 300px;

}
#seccion2{
	border-color: #ff0000;
	width: 75px;
	height: 200px;
}
#seccion3{
	border-color: #80ff00;
	width: 75px;
	height: 200px
	
}
