@CHARSET "UTF-8";

#imcentral{
	
}
#botones{
	background-color: red;
}
#derecha{
 margin: 0.7px;
 border-color: blue;
 width:75px;
 float:left;
 height: 300px;

}
#centro{
	border: 5px;
	border-color: #80ffff;
}
#isquierda{
	border: 5px;
	border-color: #0080ff;
}